# Sector Demeaning

In this notebook, I will be using the Item 1-Business Descriptions to cluster stocks.

In [99]:
import numpy as np
import pandas as pd
import pickle 
import datetime

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

from string import punctuation
from os import listdir
from collections import Counter

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lucaskrenn/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [91]:
#!conda create --name faiss
#!conda activate --y faiss

In [2]:
data = pd.read_pickle('8-link_dict.pickle')

In [3]:
goods = [list(data.keys())[i] for i in range(len(data.values())) if 'Item1' in list(data.values())[i].columns]
len(goods)

873

In [4]:
sample = data['0000006201']['Item1'][49]
sample[:5000]

'ITEM 1. BUSINESS Overview  American Airlines Group Inc. (AAG), a Delaware corporation, is a holding company and its principal, wholly-owned subsidiaries are American Airlines, Inc. (American), Envoy Aviation Group Inc. (Envoy), PSA Airlines, Inc. (PSA) and Piedmont Airlines, Inc. (Piedmont). AAG was formed in 1982 under the name AMR Corporation (AMR) as the parent company of American, which was founded in 1934.  AAG’s and American’s principal executive offices are  located at 1 Skyview Drive, Fort Worth, Texas 76155 and  their  telephone number  is 817-963- 1234.  Airline Operations Together with our wholly-owned regional airline subsidiaries and third-party regional carriers operating as American Eagle, our primary business activity  is the operation of a major network air carrier, providing scheduled air transportation for passengers and cargo through our hubs in Charlotte, Chicago, Dallas/Fort Worth,  Los Angeles, Miami,  New York,  Philadelphia,  Phoenix  and Washington,  D.C.  and  partner  gateways,  including  in  London, Madrid, Seattle/Tacoma, Sydney and Tokyo (among others).  Approximately 95 million passengers boarded our  flights  in 2020, a decrease  from approximately 215 million passengers  in 2019. During 2020, we experienced an unprecedented decline in the demand for air travel due to the impact of coronavirus (COVID-19). COVID-19 has been declared a global health pandemic by the World Health Organization and has surfaced in nearly all regions of the world, which has driven the implementation of significant, government-imposed measures to prevent or reduce its spread, including travel restrictions, testing regimes, closing of borders, “stay at home” orders and business closures. While the length and severity of the reduction in demand due to the COVID-19 pandemic is uncertain, our business, operations and financial condition in 2020 was severely impacted.  As  of December  31,  2020, we  operated  855 mainline  aircraft  supported  by  our  regional  airline  subsidiaries  and  third-party  regional  carriers, which operated an additional 544 regional aircraft. See Part I, Item 2. Properties for further discussion on our mainline and regional aircraft and “Regional” below for further discussion on our regional operations.  American is a founding member of the  oneworld  Alliance, which brings together a global network of 13 world-class member airlines and their affiliates, working together to provide a superior and seamless travel experience. See below for further discussion on the oneworld Alliance and other agreements with domestic and international airlines.  See Part  II,  Item 7. Management’s Discussion and Analysis of Financial Condition and Results of Operations – “2020  Financial Overview,”  “AAG’s Results  of  Operations”  and “American’s  Results  of  Operations”   for  further  discussion  of  AAG’s  and  American’s  operating  results  and  operating performance. Also,  see  Note  14  to AAG’s  Consolidated  Financial  Statements  in  Part  II,  Item  8A  and  Note  12  to American’s  Consolidated  Financial Statements in Part II, Item 8B for information regarding operating segments and see Note 1(l) to each of AAG’s and American’s Consolidated Financial Statements in Part II, Items 8A and 8B, respectively, for passenger revenue by geographic region.  Regional Our regional carriers provide scheduled air  transportation under  the brand name “American Eagle.” The American Eagle carriers  include our wholly-  owned regional carriers Envoy, PSA and Piedmont, as well as third-party regional carriers including Republic Airways Inc. (Republic), SkyWest Airlines, Inc.  (SkyWest),  and  Mesa Airlines,  Inc.  (Mesa).  In  addition,  Compass Airlines,  LLC  operated  regional  jet  aircraft  for  us  during  2020;  however,  this arrangement ended in April 2020. Our regional carriers are an integral component of our operating network. We rely heavily on regional carriers to drive feeder traffic to our hubs from low-density markets that are not economical for us to serve with larger, mainline aircraft. In addition, regional carriers offer complementary service in many of our mainline markets. All American Eagle carriers use logos, service marks, aircraft paint schemes and uniforms similar to  those of our mainline operations.  In 2020, approximately 30 million passengers boarded our  regional  carriers’  planes, approximately 48% of whom connected to or from our mainline flights, a decrease from approximately 59 million passengers in 2019, due to the effects of the COVID-19 pandemic.  ®  7    Table of Contents  Substantially all of our regional carrier arrangements are in the form of capacity purchase agreements. The capacity purchase agreements provide that all  revenues,  including passenger,  in-flight, ancillary, mail and  freight  revenues, go  to us. We control marketing, scheduling,  ticketing, pricing and seat inventories. In return, we agree to pay predetermined fees to these airl'

We can borrow a similar idea to the cosine distances to assign each entry to a vector

In [5]:
tokens = sample.split()
# remove punctuation from each token
table = str.maketrans('', '', punctuation)
tokens = [w.translate(table) for w in tokens]
# remove remaining tokens that are not alphabetic
tokens = [word for word in tokens if word.isalpha()]
# filter out stop words
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if not w in stop_words]
# filter out short tokens
tokens1 = [word for word in tokens if len(word) > 1]

In [6]:
tokens1[:20]

['ITEM',
 'BUSINESS',
 'Overview',
 'American',
 'Airlines',
 'Group',
 'Inc',
 'AAG',
 'Delaware',
 'corporation',
 'holding',
 'company',
 'principal',
 'whollyowned',
 'subsidiaries',
 'American',
 'Airlines',
 'Inc',
 'American',
 'Envoy']

In [7]:
sample2 = data['0001562401']['Item1'][49]
sample2[:5000]

'ITEM 1. BUSINESS  Overview      American Homes 4 Rent (“AH4R”) is an internally managed Maryland real estate investment trust (“REIT”) formed on October 19, 2012. American Homes 4 Rent, L.P., a Delaware limited partnership formed on October 22, 2012, and its consolidated subsidiaries (collectively, the “Operating Partnership,” our “operating partnership” or the “OP”) is the entity through which the Company conducts substantially all of our business and owns, directly or through subsidiaries, substantially all of our assets. References to the “Company,” “we,” “our,” and “us” mean collectively, AH4R, the Operating Partnership and those entities/subsidiaries owned or controlled by AH4R and/or the Operating Partnership. We are focused on acquiring, developing, renovating, leasing and operating single-family homes as rental properties. We commenced operations in November 2012.      AH4R is the general partner of, and as of December 31, 2020 owned approximately 85.9% of the common partnership interest in, the Operating Partnership. The remaining 14.1% of the common partnership interest was owned by limited partners. As the sole general partner of the Operating Partnership, AH4R has exclusive control of the Operating Partnership’s day-to-day management. The Company’s management operates AH4R and the Operating Partnership as one business, and the management of AH4R consists of the same members as the management of the Operating Partnership. AH4R’s primary function is acting as the general partner of the Operating Partnership. The only material asset of AH4R is its partnership interest in the Operating Partnership. As a result, AH4R generally does not conduct business itself, other than acting as the sole general partner of the Operating Partnership, issuing equity from time to time and guaranteeing certain debt of the Operating Partnership. AH4R itself is not directly obligated under any indebtedness, but guarantees some of the debt of the Operating Partnership. The Operating Partnership owns substantially all of the assets of the Company, including the Company’s ownership interests in its joint ventures, either directly or through its subsidiaries, conducts the operations of the Company’s business and is structured as a limited partnership with no publicly traded equity. One difference between the Company and the Operating Partnership is $25.7 million of asset-backed securitization certificates issued by the Operating Partnership and purchased by AH4R. The asset-backed securitization certificates are recorded as an asset-backed securitization certificates receivable by the Company and as an amount due from affiliates by the Operating Partnership. AH4R contributes all net proceeds from its various equity offerings to the Operating Partnership. In return for those contributions, AH4R receives Operating Partnership units (“OP units”) equal to the number of shares it has issued in the equity offering. Based on the terms of the Agreement of Limited Partnership of the Operating Partnership, as amended, OP units can be exchanged for shares on a one-for-one basis. Except for net proceeds from equity issuances by AH4R, the Operating Partnership generates the capital required by the Company’s business through the Operating Partnership’s operations, by the Operating Partnership’s incurrence of indebtedness or through the issuance of OP units.      As of December 31, 2020, the Company held 53,584 single-family properties in selected sub-markets of metropolitan statistical areas (“MSAs”) within 22 states, including 711 properties classified as held for sale, and 51,271, or 97.0%, of our total properties (excluding properties held for sale) were occupied. We have an integrated operating platform that consists of 1,447 personnel dedicated to property management, acquisitions, development, marketing, leasing, financial and administrative functions.      We believe we have become a leader in the single-family home rental industry by aggregating a geographically diversified portfolio of high-quality single-family homes and developing “American Homes 4 Rent” into a nationally recognized brand that is well-known for quality, value and tenant satisfaction and is well respected in our communities. Our investments may be made directly or through investment vehicles with third-party investors. We began adding newly constructed “built-for-rental” single-family properties to our portfolio in 2017 through our internal “AMH Development Program” and through acquisitions from third-party developers via our “National Builder Program.” Our objective is to generate attractive, risk-adjusted returns for our shareholders through dividends and capital appreciation.      We believe that we have been organized and operate in conformity with the requirements for qualification and taxation as a REIT under U.S. federal income tax laws for each of our taxable years commencing with our taxable year ended December 31, 2012, through the current taxable year '

In [8]:
tokens = sample2.split()
# remove punctuation from each token
table = str.maketrans('', '', punctuation)
tokens = [w.translate(table) for w in tokens]
# remove remaining tokens that are not alphabetic
tokens = [word for word in tokens if word.isalpha()]
# filter out stop words
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if not w in stop_words]
# filter out short tokens
tokens2 = [word for word in tokens if len(word) > 1]

In [9]:
allwords = list(set(tokens1) | set(tokens2))

In [10]:
vec = (pd.DataFrame(allwords).isin(tokens1) * 1).values
vec

array([[1],
       [1],
       [0],
       ...,
       [1],
       [1],
       [0]])

In [11]:
res = pd.Series(allwords).isin(pd.Series(tokens1))
len(res)

2899

In [12]:
res.sum()

2225

In [13]:
# Stack all of the results
res = pd.concat([data[x] for x in data.keys()])

In [14]:
results = set()

In [15]:
results = Counter()
res['Item1'].fillna(' ').str.split().apply(results.update)

49     None
150    None
225    None
315    None
412    None
       ...
428    None
572    None
683    None
783    None
927    None
Name: Item1, Length: 8052, dtype: object

In [16]:
allwords = list(results.keys())

In [17]:
tokens = allwords
# remove punctuation from each token
table = str.maketrans('', '', punctuation)
tokens = [w.translate(table) for w in tokens]
# remove remaining tokens that are not alphabetic
tokens = [word for word in tokens if word.isalpha()]
# filter out stop words
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if not w in stop_words]
# filter out short tokens
allwords = [word for word in tokens if len(word) > 1]

In [18]:
len(allwords)

265787

In [19]:
data.keys()

dict_keys(['0000006201', '0001158449', '0000320193', '0001551152', '0001140859', '0000077551', '0000874501', '0000815094', '0000003333', '0000001800', '0000817473', '0001109304', '0001467373', '0000002135', '0001368457', '0000796343', '0000061478', '0000006281', '0000007084', '0000008670', '0001101215', '0000769397', '0001546640', '0001002910', '0000004904', '0000874761', '0001122304', '0000004977', '0001391461', '0000850693', '0000005272', '0000109563', '0000922864', '0001267238', '0000354190', '0001086222', '0000918160', '0001487712', '0000915913', '0001097149', '0000766421', '0000899051', '0001579241', '0000768251', '0000899866', '0000005133', '0000006951', '0000711065', '0000002488', '0001037868', '0001004434', '0000318154', '0001562401', '0000820027', '0001053507', '0001018724', '0000350698', '0000317093', '0001018840', '0001013462', '0001376610', '0000315293', '0000091142', '0000006769', '0000773910', '0000835910', '0000002969', '0000820313', '0000929887', '0001433270', '0001305168', '0001035443', '0000804212', '0001305014', '0000080737', '0001409741', '0001419242', '0001018963', '0000731802', '0000718877', '0001116521', '0000915912', '0001441634', '0000008868', '0000008818', '0000848865', '0001138234', '0001410636', '0000004962', '0000003673', '0001144215', '0000866787', '0000012927', '0000070858', '0000010456', '0000886158', '0001085734', '0000092230', '0000764478', '0000014930', '0000078890', '0000009892', '0000012355', '0000010795', '0000789073', '0000038777', '0001040441', '0001181249', '0000014195', '0000011860', '0000768835', '0000875045', '0000012208', '0000864328', '0001390777', '0000009263', '0001060021', '0000009389', '0000732713', '0000835729', '0000351346', '0000011199', '0000014272', '0000934612', '0000010427', '0001383312', '0001054374', '0000010081', '0000777001', '0000885725', '0000310569', '0000920448', '0000908255', '0001037540', '0000356028', '0000023217', '0000721371', '0000319687', '0000941548', '0000723612', '0000018230', '0000020171', '0000716133', '0001141982', '0000715096', '0001374310', '0001124074', '0000813828', '0000018568', '0001491675', '0001051470', '0001219601', '0000815097', '0000104599', '0000739708', '0000813672', '0001402057', '0001306830', '0001004440', '0000816284', '0001576340', '0000873364', '0000804753', '0001324404', '0000025191', '0001436040', '0001457543', '0001527166', '0000313927', '0000706539', '0000895126', '0000019353', '0001043277', '0001091667', '0000701221', '0000936395', '0000899652', '0000020286', '0000021665', '0000764065', '0000021076', '0000028412', '0001166691', '0001156375', '0001058090', '0000026172', '0000811156', '0000803014', '0001000736', '0001071739', '0001130310', '0000023675', '0001070412', '0001069353', '0000927628', '0000858470', '0001137411', '0000738076', '0000711404', '0001163165', '0000909832', '0001024305', '0001385187', '0000016732', '0000900075', '0000859014', '0000025445', '0001100682', '0001108524', '0001009672', '0000858877', '0001241199', '0000277948', '0000723254', '0000024491', '0000018926', '0001058290', '0000018532', '0000877890', '0001053112', '0001062047', '0001054833', '0000064803', '0000093410', '0001358071', '0000858339', '0000027904', '0000030554', '0000894315', '0000028917', '0000315189', '0000826083', '0000931336', '0001393612', '0000029534', '0001022079', '0000882184', '0000313616', '0001411658', '0001001039', '0001437107', '0001001082', '0000029924', '0001297996', '0000935703', '0000027996', '0001115222', '0000945764', '0000949039', '0000029905', '0000029915', '0001072342', '0001286681', '0000783280', '0000940944', '0000936340', '0001465112', '0001326160', '0000927066', '0001090012', '0001093557', '0001379895', '0000712515', '0001065088', '0000352947', '0000031462', '0001047862', '0001007456', '0000033185', '0000827052', '0000031225', '0001001250', '0000790070', '0000915389', '0000032604', '0001100962', '0001463101', '0001289308', '0000821189', '0001038339', '0001066107', '0001350031', '0001101239', '0000906107', '0000033213', '0001393744', '0001532063', '0000920522', '0000314808', '0001015780', '0001551182', '0000065984', '0000846909', '0001578318', '0001099800', '0001109357', '0000746515', '0001324424', '0001289490', '0001539838', '0000815556', '0001326801', '0000050341', '0001519751', '0000887936', '0000831259', '0000883980', '0000034408', '0001048911', '0001031296', '0001048695', '0000036966', '0001056288', '0001136893', '0000798354', '0000035527', '0000850209', '0000354908', '0001124198', '0000030625', '0001175454', '0000314132', '0000037785', '0001026214', '0001319183', '0000310522', '0000883569', '0001068002', '0000034903', '0000038074', '0000880430', '0001392522', '0001274494', '0001135152', '0001262039', '0000020520', '0001130385', '0000043300', '0001004155', '0000040533', '0000929987', '0000042293', '0000040545', '0000732485', '0001496048', '0000104889', '0000882095', '0000040704', '0001063393', '0000043362', '0000024741', '0001467858', '0000909954', '0001326380', '0001474735', '0001438893', '0001276520', '0001288776', '0000041077', '0000040987', '0001123360', '0000039911', '0000042542', '0001045309', '0001121788', '0000886982', '0001086319', '0000042582', '0001273441', '0000895812', '0000277135', '0000045012', '0000800459', '0000046080', '0000049196', '0001359841', '0000860730', '0000921847', '0000765880', '0000878736', '0000354950', '0000314727', '0000004447', '0000048039', '0001417398', '0000874766', '0001501585', '0001585689', '0000792985', '0000046640', '0000793952', '0000859737', '0000773840', '0000316206', '0000046765', '0000046989', '0000047217', '0000012659', '0000048465', '0000202058', '0000023666', '0001000228', '0001274057', '0001070750', '0000047111', '0000049071', '0000051143', '0001174746', '0000874716', '0000832101', '0000051253', '0000353944', '0000003370', '0001110803', '0000879169', '0000920990', '0001046257', '0000050863', '0000896878', '0000051434', '0000051644', '0001111928', '0001466258', '0001020569', '0001035267', '0000749251', '0000216228', '0000049826', '0000914208', '0000728535', '0000898293', '0000053669', '0001166126', '0000052988', '0001084580', '0000045599', '0000736260', '0000779152', '0000200406', '0001043604', '0001065865', '0000874016', '0000801898', '0000053347', '0000019617', '0000072333', '0000352363', '0000795266', '0000091576', '0001012393', '0001047699', '0000879101', '0000319201', '0000055785', '0001028215', '0001506307', '0001170010', '0000021344', '0001530721', '0000056873', '0000870517', '0001545158', '0001062379', '0000885639', '0000054480', '0000057139', '0000764762', '0001336920', '0000058492', '0000806085', '0000920760', '0000920148', '0001073431', '0001575571', '0001065696', '0001056239', '0000791907', '0000059478', '0000704051', '0000936468', '0000059558', '0000352541', '0001424847', '0001323206', '0000060667', '0000060519', '0000707549', '0000703360', '0001006240', '0000016099', '0000092380', '0000794323', '0001300514', '0001001288', '0001489393', '0001335258', '0001141391', '0000912595', '0000912242', '0001048286', '0000062996', '0000063276', '0000063416', '0000814585', '0000063908', '0000827054', '0000927653', '0001059556', '0000893949', '0001103982', '0000065011', '0000708819', '0000064670', '0001048685', '0000873591', '0000037748', '0000064782', '0000065100', '0000867058', '0001099219', '0000890801', '0000789570', '0000851968', '0001170650', '0001399315', '0001092050', '0000066479', '0001452575', '0000063754', '0001278021', '0000916076', '0000062709', '0001578732', '0000066740', '0001567892', '0000067625', '0001020416', '0000764180', '0000067472', '0001110783', '0001285785', '0001510295', '0001280452', '0000310158', '0000101778', '0000895421', '0001408198', '0000789019', '0000068505', '0000036270', '0001037646', '0000876437', '0000061986', '0000723125', '0000717423', '0001159297', '0000743316', '0000063541', '0000069499', '0000716823', '0000808450', '0001084750', '0000072207', '0001163739', '0000789933', '0000069970', '0001513761', '0000070866', '0001120193', '0001169055', '0000753308', '0001164727', '0000352510', '0001065280', '0000912750', '0001111711', '0000320187', '0000906709', '0001298341', '0001492633', '0001133421', '0001021860', '0000758004', '0001373715', '0001013871', '0000072911', '0000702165', '0001096376', '0001520566', '0001002047', '0000073124', '0000073309', '0001045810', '0000836106', '0000906163', '0000814453', '0001564708', '0000824169', '0000071691', '0001326579', '0000878927', '0000800240', '0000812074', '0001039684', '0000029989', '0000012978', '0001486800', '0001341439', '0000898173', '0000075234', '0000797468', '0001100389', '0001084230', '0000723531', '0001378946', '0001076405', '0000078814', '0000077449', '0000075362', '0000075488', '0001338749', '0000849213', '0000079958', '0000078066', '0000891024', '0001036081', '0000788784', '0000921738', '0000077476', '0000863157', '0000078003', '0001126328', '0000080424', '0000077385', '0001094093', '0000080661', '0000076334', '0000822416', '0000075677', '0000031791', '0000899881', '0000075829', '0001413329', '0000767920', '0000935724', '0000713676', '0000077360', '0000764622', '0001135971', '0000945841', '0000079879', '0000922224', '0000820096', '0001137774', '0001393311', '0000875570', '0001534701', '0000857005', '0001089976', '0000078239', '0001035713', '0001042825', '0001050915', '0000884905', '0001038357', '0000804328', '0001108827', '0000918386', '0000084129', '0001275283', '0000770949', '0000884887', '0000085408', '0001095073', '0000910606', '0000872589', '0001281761', '0000315213', '0001087423', '0001451505', '0000720005', '0001037038', '0000943819', '0000085812', '0000084792', '0001024478', '0000084839', '0000882835', '0000745732', '0000315852', '0000029669', '0001060391', '0001047122', '0001058083', '0000355622', '0000798738', '0000897723', '0001008817', '0001034054', '0000278352', '0000829224', '0000754737', '0000316709', '0000089089', '0000789388', '0001373835', '0001006835', '0000087777', '0001310067', '0000089800', '0000090185', '0000832988', '0000721083', '0000719739', '0000091419', '0000087347', '0001040971', '0001032033', '0000835541', '0000091440', '0001000180', '0001430602', '0000883241', '0001035354', '0000018349', '0000092122', '0000092081', '0000811830', '0001063761', '0000791519', '0000861878', '0001032208', '0000094887', '0000832428', '0000815065', '0000750556', '0000203077', '0000751652', '0000093751', '0001137789', '0000016918', '0000095304', '0000095521', '0000093556', '0000004127', '0000007332', '0000086144', '0000709804', '0000310764', '0000849399', '0000096021', '0001378453', '0000024545', '0000816761', '0001260221', '0001094285', '0000350563', '0000916863', '0000096879', '0001385157', '0001024725', '0000097210', '0000097216', '0000836267', '0000096943', '0000027419', '0000070318', '0001011657', '0000098246', '0000731939', '0000109198', '0000098362', '0000317771', '0000320335', '0000097745', '0001283699', '0000097854', '0001005414', '0000726513', '0001526520', '0000864749', '0001113169', '0000086312', '0001267097', '0000916365', '0001020265', '0001318605', '0000100493', '0000721683', '0000946581', '0001008654', '0001377013', '0001418091', '0001105705', '0000097476', '0000217346', '0001023291', '0000860731', '0001336917', '0000100517', '0000716039', '0000074208', '0000352915', '0000746838', '0001403568', '0000731766', '0000005513', '0000100885', '0000100893', '0001090727', '0000912615', '0001067701', '0000036104', '0001299716', '0000811669', '0000101829', '0001017008', '0000203527', '0000103379', '0001114529', '0001035002', '0001396009', '0000899689', '0001442145', '0001014473', '0000883237', '0000875320', '0001068132', '0000740260', '0000880446', '0000732712', '0000943452', '0001000697', '0000036995', '0001279363', '0000106040', '0000783325', '0000949189', '0000030697', '0000072971', '0000865436', '0001453090', '0000106640', '0000107681', '0001255474', '0001156039', '0000933136', '0000107263', '0000104169', '0000108516', '0001518832', '0000011544', '0000105770', '0001365135', '0000108601', '0000106535', '0000005187', '0000833203', '0001174922', '0001168054', '0000072903', '0000875159', '0000743988', '0000034088', '0000818479', '0000108772', '0000868809', '0001524472', '0000716006', '0001041061', '0000877212', '0000109380', '0001555280'])

In [20]:
mapping = pd.read_csv("1-valid_tickers.csv")
mapping.head()

   Unnamed: 0                          Issuer Ticker      CUSIP        CIK
0          55  AMERICAN AIRLINES GROUP INC CO    AAL  02376R102     6201.0
1          80          ADVANCE AUTO PARTS INC    AAP  00751Y106  1158449.0
2          84               APPLE INC;COM NPV   AAPL  037833100   320193.0
3         132         ABBVIE INC COM STK (DE)   ABBV  00287Y109  1551152.0
4         134          AMERISOURCEBERGEN CORP    ABC  03073E105  1140859.0

In [21]:
companies = [mapping[mapping['CIK'] == float(x)]['Ticker'].values[0] for x in data.keys()]
companies[:5]

['AAL', 'AAP', 'AAPL', 'ABBV', 'ABC']

In [22]:
a = pd.DataFrame()
for company in goods:
    a = pd.concat([a, data[company].loc[:, ['filingDate', 'Item1']]], axis=1)

In [23]:
data[company]

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription,Link,Loc7,Loc8,Item1,Item1a,Item7
90,0001555280-21-000098,2021-02-16,2020-12-31,2021-02-16T14:24:47.000Z,34,10-K,001-35797,21636290,,18961290,1,1,zts-20201231.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(41377, 41395), Item 7. Management], [(25338...","[[(41475, 41492), Item 8. Financial], [(253884...",Item 1. Business. Overview Zoetis Inc. is a g...,Item 1A. Risk Factors. In addition to the othe...,Item 7. Management’s Discussion and Analysis o...
277,0001555280-20-000054,2020-02-13,2019-12-31,2020-02-13T15:13:44.000Z,34,10-K,001-35797,20609808,,21406402,1,1,zoetis-20191231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(43239, 43257), Item 7. Management], [(47908...","[[(43406, 43423), Item 8. Financial], [(48006,...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...
428,0001555280-19-000041,2019-02-14,2018-12-31,2019-02-14T17:08:33.000Z,34,10-K,001-35797,19608112,,19494677,1,0,zoetis-20181231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(4546, 4564), Item 7. Management], [(9214, 9...","[[(4713, 4730), Item 8. Financial], [(9312, 93...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...
572,0001555280-18-000053,2018-02-15,2017-12-31,2018-02-15T12:31:15.000Z,34,10-K,001-35797,18616883,,18267949,1,0,zoetis-20171231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(4673, 4691), Item 7. Management], [(9215, 9...","[[(4840, 4857), Item 8. Financial], [(9313, 93...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...
683,0001555280-17-000044,2017-02-16,2016-12-31,2017-02-16T16:26:45.000Z,34,10-K,001-35797,17618235,,18284297,1,0,zoetis-20161231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(4306, 4324), Item 7. Management], [(9510, 9...","[[(4473, 4490), Item 8. Financial], [(173313, ...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...
783,0001555280-16-000344,2016-02-24,2015-12-31,2016-02-24T11:32:51.000Z,34,10-K,001-35797,161450905,,19416727,1,0,zoetis-20151231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(4340, 4358), Item 7. Management], [(10757, ...","[[(4507, 4524), Item 8. Financial], [(179658, ...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...
927,0001555280-15-000057,2015-02-27,2014-12-31,2015-02-27T16:52:38.000Z,34,10-K,001-35797,15660089,,24724525,1,0,zoetis-20141231x10kye.htm,10-K,https://www.sec.gov/Archives/edgar/data/155528...,"[[(4345, 4363), Item 7. Management], [(183890,...","[[(4512, 4529), Item 8. Financial], [(182026, ...",Item 1. Business. Overview Zoetis Inc. is a ...,Item 1A. Risk Factors. In addition to the oth...,Item 7. Management’s Discussion and Analysis o...

In [24]:
aaa =pd.concat([pd.DataFrame(data[company].loc[:, ['filingDate', 'Item1']].set_index('filingDate'), columns=[company]) for company in goods])

In [25]:
aaa.head()

,0000006201,0001158449,0000320193,0001551152,0001140859,0000077551,0000874501,0000815094,0000003333,0000001800,...,0000034088,0000818479,0000108772,0000868809,0001524472,0000716006,0001041061,0000877212,0000109380,0001555280
filingDate,,,,,,,,,,,,,,,,,,,,,
2021-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
tokens = sample.split()
# remove punctuation from each token
table = str.maketrans('', '', punctuation)
tokens = [w.translate(table) for w in tokens]
# remove remaining tokens that are not alphabetic
tokens = [word for word in tokens if word.isalpha()]
# filter out stop words
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if not w in stop_words]
# filter out short tokens
tokens = [word for word in tokens if len(word) > 1]

In [27]:
(pd.DataFrame(allwords).isin(tokens) * 1).values

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [28]:
vecs = []
allwords_df = pd.DataFrame(allwords)
for i in range(len(a)):
    sample = a.iloc[i]['Item1']
    if sample == '':
        vecs.append(np.nan)
    
    else:
        tokens = sample.split()
        # remove punctuation from each token
        table = str.maketrans('', '', punctuation)
        tokens = [w.translate(table) for w in tokens]
        # remove remaining tokens that are not alphabetic
        tokens = [word for word in tokens if word.isalpha()]
        # filter out stop words
        stop_words = set(stopwords.words('english'))
        tokens = [w for w in tokens if not w in stop_words]
        # filter out short tokens
        tokens = [word for word in tokens if len(word) > 1]

        vec = (allwords_df.isin(tokens) * 1).values
        vecs.append(vec)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
a['vector'] = vecs
a.head()

In [ ]:
len(vecs)

In [ ]:
len(a)

In [29]:
allwords_df = pd.DataFrame(allwords)
for company in goods:
    vecs = []
    data[company]['filingDate'] = pd.to_datetime(data[company]['filingDate'].values)
    temp = data[company].copy()
    for i in range(len(temp)):
        sample = temp.iloc[i]['Item1']
        
        if sample == '':
            vecs.append(np.nan)

        else:
            tokens = sample.split()
            # remove punctuation from each token
            table = str.maketrans('', '', punctuation)
            tokens = [w.translate(table) for w in tokens]
            # remove remaining tokens that are not alphabetic
            tokens = [word for word in tokens if word.isalpha()]
            # filter out stop words
            stop_words = set(stopwords.words('english'))
            tokens = [w for w in tokens if not w in stop_words]
            # filter out short tokens
            tokens = [word for word in tokens if len(word) > 1]

            vec = (allwords_df.isin(tokens) * 1).values
            vecs.append(vec.T[0])
    data[company]["vectors"] = vecs

In [30]:
pd.concat([data[goods[0]].loc[:,['filingDate', 'vectors']].set_index('filingDate'),
data[goods[3]].loc[:,['filingDate', 'vectors']].set_index('filingDate')], axis=1).head()

,vectors,vectors
filingDate,,
2013-03-15,NaN,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2014-02-21,NaN,NaN
2014-02-28,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",NaN
2015-02-20,NaN,NaN
2015-02-25,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",NaN

In [31]:
vecs_df = pd.concat([data[goods[i]].groupby('filingDate').last()['vectors'] for i in range(len(goods))],axis=1)
vecs_df.columns = goods

In [96]:
X = vecs_df.ffill()
X.tail()

,0000006201,0001158449,0000320193,0001551152,0001140859,0000077551,0000874501,0000815094,0000003333,0000001800,...,0000034088,0000818479,0000108772,0000868809,0001524472,0000716006,0001041061,0000877212,0000109380,0001555280
filingDate,,,,,,,,,,,,,,,,,,,,,
2021-07-29,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, ...",...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...","[1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, ..."
2021-07-30,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, ...",...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...","[1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, ..."
2021-08-04,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, ...",...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...","[1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, ..."
2021-08-06,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, ...",...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...","[1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, ..."
2021-08-10,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, ...","[1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, ...",...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...","[1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, ...","[0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, ...","[0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, ..."

In [107]:
day = X.iloc[X.index.get_loc(datetime.datetime(2010,6,1),method='nearest')]
day2 = day.dropna()
X_train = np.stack(day2.values)
kmeans = KMeans(n_clusters=10, random_state=0,  init='k-means++',n_jobs=-1).fit(X_train)

/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)

In [108]:
kmeans.labels_

array([3, 6, 9, 6, 9, 3, 9, 3, 1, 6, 1, 8, 3, 9, 8, 3, 1, 3, 9, 1, 9, 3,
       8, 1, 0, 9, 9, 8, 0, 3, 3, 0, 1, 1, 2, 0, 9, 3, 8, 0, 9, 0, 9, 8,
       9, 6, 3, 3, 3, 9, 9, 8, 7, 6, 0, 3, 3, 1, 6, 9, 9, 1, 1, 6, 0, 0,
       2, 7, 9, 6, 0, 3, 7, 0, 1, 0, 9, 4, 2, 9, 0, 6, 3, 0, 3, 0, 6, 9,
       9, 1, 0, 3, 4, 1, 3, 1, 3, 0, 0, 9, 3, 0, 3, 1, 9, 3, 2, 8, 7, 1,
       1, 3, 2, 1, 1, 0, 1, 0, 3, 1, 0, 8, 9, 0, 1, 7, 8, 3, 8, 9, 0, 6,
       7, 4, 0, 0, 0, 9, 8, 3, 1, 0, 0, 6, 9, 9, 4, 9, 0, 9, 8, 1, 9, 8,
       9, 3, 0, 0, 0, 9, 1, 9, 6, 3, 9, 0, 8, 9, 0, 1, 9, 7, 1, 0, 2, 9,
       0, 3, 4, 8, 0, 9, 3, 3, 9, 1, 1, 1, 9, 6, 4, 0, 6, 7, 0, 7, 2, 6,
       9, 3, 3, 0, 4, 1, 0, 8, 0, 3, 0, 8, 2, 3, 8, 9, 7, 8, 3, 1, 1, 9,
       1, 1, 1, 5, 3, 9, 3, 3, 0, 0, 8, 1, 3, 1, 8, 9, 9, 3, 0, 0, 1, 9,
       9, 2, 1, 1, 8, 2, 8, 0, 1, 9, 9, 8, 1, 8, 3, 6, 2, 0, 7, 9, 9, 3,
       1, 3, 0, 8, 6, 9, 0, 0, 8, 9, 0, 0, 0, 0, 3, 3, 1, 3, 3, 1, 9, 9,
       8, 1, 0, 0, 3, 3, 0, 1, 1, 0, 0, 9, 8, 3, 1, 9, 9, 3, 1, 3, 2, 3,
       8, 8, 8, 9, 0, 8, 3, 9, 0, 1, 8, 0, 3, 9, 9, 0, 0, 9, 2, 4, 9, 0,
       6, 1, 0, 2, 9, 1, 7, 9, 1, 3, 8, 1, 9, 8, 9, 9, 1, 9, 6, 1, 9, 7,
       1, 3, 1, 3], dtype=int32)

In [145]:
day[[type(x)==np.ndarray for x in day.values]]

0000077551    [0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, ...
0000874501    [0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...
0000003333    [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, ...
0000817473    [0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, ...
0001109304    [1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, ...
                                    ...
0000005187    [1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, ...
0001174922    [1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, ...
0000108772    [1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, ...
0000868809    [0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, ...
0000877212    [0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
Name: 2010-06-02 00:00:00, Length: 356, dtype: object

In [148]:
temp = day.copy()
temp[[type(x)==np.ndarray for x in temp.values]] = kmeans.labels_

In [150]:
temp

0000006201    NaN
0001158449    NaN
0000320193    NaN
0001551152    NaN
0001140859    NaN
             ...
0000716006    NaN
0001041061    NaN
0000877212      3
0000109380    NaN
0001555280    NaN
Name: 2010-06-02 00:00:00, Length: 873, dtype: object

In [156]:
labels = pd.DataFrame()
dates = []
# Do this once a year
for year in list(range(1996,2022)):
    date = X.index.get_loc(datetime.datetime(year,6,1),method='nearest')
    day = X.iloc[date]
    try:
    
        day2 = day.dropna()
        X_train = np.stack(day2.values)
        kmeans = KMeans(n_clusters=10, random_state=0,  init='k-means++',n_jobs=-1).fit(X_train)
    except:
        continue
    temp = day.copy()
    temp[[type(x)==np.ndarray for x in temp.values]] = kmeans.labels_
    
    labels[date] = temp.copy()

/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)
/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:793: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  " removed in 1.0 (renaming of 0.25).", FutureWarning)

In [164]:
labels.columns = X.index[labels.columns]

In [165]:
labels.T

,0000006201,0001158449,0000320193,0001551152,0001140859,0000077551,0000874501,0000815094,0000003333,0000001800,...,0000034088,0000818479,0000108772,0000868809,0001524472,0000716006,0001041061,0000877212,0000109380,0001555280
filingDate,,,,,,,,,,,,,,,,,,,,,
2006-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2007-05-31,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,7,NaN,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN
2008-05-30,NaN,NaN,NaN,NaN,NaN,4,5,NaN,1,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-04,NaN,NaN,NaN,NaN,NaN,1,0,NaN,7,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,5,NaN,NaN
2010-06-02,NaN,NaN,NaN,NaN,NaN,3,6,NaN,9,NaN,...,NaN,NaN,3,1,NaN,NaN,NaN,3,NaN,NaN
2011-06-02,NaN,NaN,NaN,NaN,NaN,3,2,9,7,NaN,...,NaN,NaN,3,5,NaN,1,NaN,0,NaN,NaN
2012-05-31,NaN,NaN,6,NaN,NaN,5,9,7,1,NaN,...,NaN,NaN,2,8,6,6,1,2,NaN,NaN
2013-05-30,NaN,NaN,3,4,7,8,6,8,4,NaN,...,NaN,NaN,3,5,7,7,1,3,NaN,NaN
2014-06-02,7,9,9,9,9,8,3,8,9,NaN,...,NaN,NaN,1,0,1,5,9,1,NaN,NaN
2015-05-28,5,6,6,1,6,4,2,4,1,1,...,2,NaN,0,9,6,5,1,0,NaN,4
2016-06-01,0,5,5,8,5,7,4,8,9,6,...,9,6,7,3,6,9,9,5,NaN,8
2017-05-31,2,5,5,8,5,8,7,8,4,5,...,4,5,0,9,5,5,4,0,2,8
2018-05-30,9,4,5,0,1,0,6,0,4,4,...,4,1,5,3,5,4,4,5,6,0
2019-05-30,6,1,4,9,5,9,2,9,1,5,...,1,5,4,7,5,5,1,4,2,9
2020-06-01,0,5,0,9,6,9,8,9,5,6,...,5,6,2,3,6,6,5,2,8,9
2021-05-27,9,1,1,2,5,9,3,2,1,5,...,1,8,8,0,8,5,5,8,6,9

In [167]:
f = pd.read_hdf('1-rets.h5')
f.head()

,A,AABA,AAL,AAMRQ,AAP,AAPL,ABBV,ABC,ABI,ABKFQ,...,XRX,XTO,XYL,YNR,YRCW,YUM,ZBH,ZBRA,ZION,ZTS
1996-01-02,NaN,NaN,NaN,NaN,NaN,0.007843,NaN,NaN,NaN,NaN,...,-0.003650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-03,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,-0.000915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-04,NaN,NaN,NaN,NaN,NaN,-0.017508,NaN,NaN,NaN,NaN,...,-0.021082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-05,NaN,NaN,NaN,NaN,NaN,0.085150,NaN,NaN,NaN,NaN,...,-0.011236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-08,NaN,NaN,NaN,NaN,NaN,0.010948,NaN,NaN,NaN,NaN,...,-0.001894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
labels2 = labels.T.copy()
labels2 = labels2.reindex(f.index).ffill()

In [173]:
labels2.to_csv("4-grouped_sectors.csv")