# Creating a Training Dataset

We will be using the Financial Phrasebank as training data for a sentiment model. More information on the dataset can be found here: https://huggingface.co/datasets/financial_phrasebank

We will use the dataset in which 75\% of researchers agree on the sentiment, as this seems like a good balance between confidence in the label and having enough data to create a strong enough model.

In [24]:
import numpy as np
import pandas as pd
from datasets import load_dataset

dataset = load_dataset("financial_phrasebank", 'sentences_75agree')

Reusing dataset financial_phrasebank (/Users/lucaskrenn/.cache/huggingface/datasets/financial_phrasebank/sentences_75agree/1.0.0/a6d468761d4e0c8ae215c77367e1092bead39deb08fbf4bffd7c0a6991febbf0)

In [9]:
type(dataset)

datasets.dataset_dict.DatasetDict

In [22]:
vals = dataset['train']
vals[0]

{'sentence': 'According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .',
 'label': 1}

In [26]:
vals_df = pd.DataFrame(vals)
vals_df.head()

                                            sentence  label
0  According to Gran , the company has no plans t...      1
1  With the new production plant the company woul...      2
2  For the last quarter of 2010 , Componenta 's n...      2
3  In the third quarter of 2010 , net sales incre...      2
4  Operating profit rose to EUR 13.1 mn from EUR ...      2

In [28]:
vals_df[vals_df['label'] == 1]

                                               sentence  label
0     According to Gran , the company has no plans t...      1
48    At the request of Finnish media company Alma M...      1
49    In Sweden , Gallerix accumulated SEK denominat...      1
50    When this investment is in place , Atria plans...      1
51    In June it sold a 30 percent stake to Nordstje...      1
...                                                 ...    ...
3426  Because expenditures must be justified to pass...      1
3432  Nevertheless , the development can not be allo...      1
3433  Besides , as there is no depositor preference ...      1
3435  It holds 38 percent of Outokumpu 's shares and...      1
3436  Mobile communication and wireless broadband pr...      1

[2146 rows x 2 columns]